<li class="<% if notification.read? %>read<% else %>unread<% end %>">
  <%= link_to notification.url, class: "dropdown-item noti-a",
    "data-noti-id": notification.id, "data-read": notification.read do %>
    <span class="text-success">
      <strong><%= notification.sender.name %></strong>
    </span>
    <span class="small float-right text-muted">
      <%= time_ago_in_words notification.created_at %>
    </span>
    <div class="dropdown-message small">
      <%= notification.content %>
    </div>
  <% end %>
</li>
