<li>
  <%= link_to notification.url, class: "dropdown-item" do %>
    <span class="text-success">
      <strong><%= notification.sender.name %></strong>
    </span>
    <span class="small float-right text-muted"><%= time_ago_in_words notification.created_at %></span>
    <div class="dropdown-message small">
      <%= notification.content %>
    </div>
  <% end %>
</li>
