<footer class="main-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <p><%= "#{t 'global.logo'} - #{Time.current.year}" %></p>
      </div>
    </div>
  </div>
</footer>
