<div class="container margin_120">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div id="confirm">
        <div class="icon icon--order-success svg add_bottom_15">
          <svg xmlns="http://www.w3.org/2000/svg" class="svg-confirm">
            <g fill="none" stroke="#8EC343" stroke-width="2">
              <circle cx="36" cy="36" r="35" class="svg-confirm-circle">
              </circle>
              <path d="M17.417,37.778l9.93,9.909l25.444-25.393"
                class="svg-confirm-path">
              </path>
            </g>
          </svg>
        </div>
        <h2><%= messages[0] %></h2>
        <p><%= messages[1] %></p>
      </div>
    </div>
  </div>
</div>
