<% provide :title, t(".title")%>
<main>
  <div class="hero_home version_1">
    <div class="content">
      <h3> <%= t "global.logo" %></h3>
      <p><%= t "global.slogan"%></p>
    </div>
  </div>
</main>
