/*
 *= require font-awesome
 *= require admin/grasp_mobile_progress_circle-1.0.0.min.css
 *= require admin/jquery.mCustomScrollbar
 *= require admin/style.default
 */
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
@import 'variables';
@import 'bootstrap';
@import 'main';
@import 'doctor';
@import 'user';
