$transparent_grey: rgba(0, 0, 0, 0.1);
$border-doctor: #383842;
$box-doctor: #000047;
$box-shadow-doctor: #000075;
$rev-content-border: #ededed;
$rev-content-box-shadow: #1b1754;
$rev-info-color: #777;
$rev-thumb-img-box-shadow: #1b1754;
$delete-item-color: #ff537b;
$delete-item-hover-color: #ff537b;
