.mf_main--comment{
  margin-top: 10px;
  margin-left: -115px;
  margin-right: -15px;
  border-top: 1px solid $solid-border;
  padding: 5px 15px 0px 0px;
  display: none;
  transition: all ease-out 0.4s;
  &.show{
    display: block;
  }
  .mf_comment--block{
    .mf_comment--avatar{
      margin-top: 10px;
      border: 1px solid $primary-color;
      position: absolute;
      left: 15px;
      width: 30px;
      height: 30px;
      border-radius: 20px;
    }
    .mf_comment--content{
      position: relative;
      margin-left: 60px;
      .mf_comment--answer_content{
        padding: 11px;
        margin-right: 40px;
        margin-top: 10px;
        background-color: aliceblue;
        border-radius: 10px;
        width: fit-content;
        a{
          color: $primary-color;
          font-weight: 500;
          &:hover{
            text-decoration-line: underline;
          }
        }
        p{
          margin: 0 3px 3px 3px
        }
      }
      .mf_comment--answer_time{
        position: absolute;
        align-items: center;
        margin-top: 10px;
        right: 8px;
        top: 10px;
        .post_time{
          text-transform: none;
        }
      }
      .mf_comment--menu{
        padding: 0px 5px;
      }
      .mf_edit_comment_form{
        margin-bottom: 0;
        padding: 0.6rem 0.2rem;
        .mf_update_comment_form_content{
          margin: 0px;
          display: flex;
          .mf_save_update_button{
            border-radius: 0px 30px 30px 0px;
            background: $blue-light-color;
            border: none;
            color: $true-white;
            cursor: pointer;
            font-size: 16px;
            transition: all .3s ease-in-out;
            font-weight: 500;
            &:hover{
              border: none;
              background: $primary-color;
            }
          }
        }
        .mf_edit_content_field{
          min-height: 10px;
          padding: 0.2rem 0.5rem;
          display: inline-block;
          min-height: 10px;
          border-radius: 30px 0px 0px 30px;
          transition: all ease-in-out 0.3s;
          &:focus, &:hover{
            border: 1px solid $blue-light-color;
            box-shadow: none;
          }
        }
      }
    }
  }
}

.mf_main--reply{
  position: relative;
  margin-top: 10px;
  margin-left: -115px;
  margin-right: -15px;
  border-top: 1px solid $solid-border;
  padding-top: 5px 15px 0px 0px;
  &.hidden{
    display: none;
  }
  form{
    display: flex;
  }

  .mf_reply--avatar{
    margin-top: 8px;
    margin-left: 15px;
    width: 36px;
    height: 36px;
    border-radius: 20px;
    float: left;
    border: 1px solid aliceblue;
  }

  .mf_reply_form{
    display: flex;
    width: 100%;
    margin: 8px 15px 0px 10px;
  }

  .mf_reply_field{
    display: inline-block;
    min-height: 10px;
    border-radius: 30px 0px 0px 30px;
    transition: all ease-in-out 0.3s;
    &:focus, &:hover{
      border: 1px solid $blue-light-color;
      box-shadow: none;
    }
  }
  .mf_reply_button{
    border-radius: 0px 30px 30px 0px;
    background: $blue-light-color;
    border: none;
    color: $true-white;
    cursor: pointer;
    font-size: 16px;
    transition: all .3s ease-in-out;
    font-weight: 500;
    &:hover{
      border: none;
      background: $primary-color;
    }
  }
}
