.mf_home {
  background: $home-bg-color;
  .home_header {
    background-color: $home-bg-color;
    .left_menu {
      top: 11px;
      position: relative;
      display: inline-block;
      a {
        padding: 5px 10px;
        font-size: 14px;
        font-size: .875rem;
        font-weight: 500;
        position: relative;
        margin-right: 20px;
        transition: background .2s;
        border-radius: 8px;
        display: inline-flex;
        color: white;
        &:hover {
          background-color: $home-menu-hover;
        }
      }
      .language_menu{
        position: absolute;
        background: $true-white;
        border-radius: 0.25rem;
        @include shadow-card(0.3);
        display: none;
        transition: all ease-in-out 0.25s;
        ul{
          margin: 0;
          li{
            a{
              color: $default-a-color;
              display: block;
              margin: 0;
              padding: 5px 10px;
              min-width: 100px;
              &hover{
                border-radius: 0;
                background: none;
              }
            }
            &:hover{
              background: $primary-color;
              a{
                color: $true-white;
              }
            }
          }
        }
      }
      &:hover{
        .language_menu{
          display: block;
        }
      }
    }
  }
  footer {
    background-color: $home-bg-color;
  }
}
