.background-white {
  background-color: $true-white;
}
.mf_home {
  background: $home-bg-color;
  .home_header {
    background-color: $home-bg-color;
    .left_menu {
      top: 11px;
      position: relative;
      display: inline-block;
      a {
        padding: 5px 10px;
        font-size: 14px;
        font-size: .875rem;
        font-weight: 500;
        position: relative;
        margin-right: 20px;
        transition: background .2s;
        border-radius: 8px;
        display: inline-flex;
        color: white;
        &:hover {
          background-color: $home-menu-hover;
        }
      }
      .language_menu{
        position: absolute;
        background: $true-white;
        border-radius: 0.25rem;
        @include shadow-card(0.3);
        display: none;
        transition: all ease-in-out 0.25s;
        ul{
          margin: 0;
          li{
            a{
              color: $default-a-color;
              display: block;
              margin: 0;
              padding: 5px 10px;
              min-width: 100px;
              &hover{
                border-radius: 0;
                background: none;
              }
            }
            &:hover{
              background: $primary-color;
              a{
                color: $true-white;
              }
            }
          }
        }
      }
      &:hover{
        .language_menu{
          display: block;
        }
      }
    }
  }
  .mf_search--main{
    position: relative;
    .mf_search--suggest{
      width: 100%;
      background: $true-white;
      position: absolute;
      margin: auto;
      top:49px;
      display: none;
      border-top: 1px rgb(183, 219, 250) solid;
      border: 1px solid #ccc;
      border-radius: 0 0 0.25rem 0.25rem;
      box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
      &.show{
        display: block;
      }
      ul{
        margin: 0 !important;
        .search-result-header {
          color: #ff6759;
          font-weight: bold;
          font-size: 25px;
          border-bottom: 1px solid #e8e8e8;
        }
        li{
          display: block !important;
          margin: 0;
          padding: 2.5px 5px;
          text-align: left;
          cursor: pointer;
          a{
            text-shadow: none;
            color: $default-a-hover;
          }
          &:hover{
            background: $suggest-hover-color;
          }
        }
      }
    }
  }
  footer {
    background-color: $home-bg-color;
  }
}
