.mf_main_question {
  position: relative;
  width: 100%;
  z-index: 2;
  .form-group {
    textarea {
      padding: 20px 20px 0 20px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      box-shadow: none;
      resize: none;
      border: none;
      margin: 0;
      overflow: hidden;
    }
  }
  .post-form {
    margin-bottom: 0;
    border-radius: 0.25rem;
    @include shadow-card(0.05);
    @include shadow-card-hover(0.22);
    small {
      font-size: 100%;
      font-weight: 500;
    }
  }
  .question_form--menu {
    position: relative;
    background-color: $form-menu-bg;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 0.25em;
    .option_left_menu {
      display: flex;
      align-items: center;
      margin-left: auto;
      float: right;
      .multi_select {
        box-shadow: none;
      }
    }
    .option_menu {
      margin-left: 10px;
      display: inline-flex;
      p {
        margin: 0;
      }
    }
  }
  .btn_1,
  a.btn_1 {
    border: none;
    color: $true-white;
    background: $blue-light-color;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    transition: all .3s ease-in-out;
    -webkit-border-radius: 0 0 25px 0;
    -moz-border-radius: 0 0 25px 0;
    -ms-border-radius: 0 0 25px 0;
    border-radius: 0 0 0.25rem 0;
    font-weight: 500
  }
  .btn_1.medium,
  a.btn_1.medium {
    padding: 12px 30px;
  }
  .btn_1:hover,
  a.btn_1:hover {
    background: $primary-color;
  }
  .signup_require {
    background: $true-white;
    padding: 10px 30px;
    border-radius: 0.25rem;
    @include shadow-card(0.05);
    @include shadow-card-hover(0.22);
    h1,
    h2,
    h3,
    h4,
    h5 {
      display: inline-block;
      margin: 0;
      padding: 0;
    }
    .btn_signup {
      background: $primary-color;
      padding: 5px 10px;
      border-radius: 0.25rem;
      transition: all ease-in-out 0.3s;
      color: $true-white;
      float: right;
      &:hover {
        color: $pink-color;
      }
    }
  }
  .mf_float_categories_list {
    z-index: 1;
    position: relative;
    background: $true-white;
    padding: 10px 20px 20px 20px;
    ul {
      margin: 0;
      display: inline-block;
      li {
        display: inline;
        margin: 0px 2.5px;
        padding: 1px 3px;
        background: $pink-color;
        border-radius: 1rem;
        a {
          color: $true-white;
        }
      }
    }
    .tag {
      display: none;
      &.show {
        display: inline-block;
      }
    }
  }
}

.mf_main--question_answers {
  margin-top: 20px;
  .vote-inline {
    display: inline;
  }
  .strip_list p {
    &.content {
      min-height: 40px;
    }
  }
}

.mf_question_sidebar {
  background-color: $true-white;
  width: 100%;
  height: auto;
  border-radius: 0.25rem;
  @include shadow-card(0.05);
  hr {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .mf_question_sidebar--header {
    padding: 5px;
    h5 {
      color: $footer-copy-default-color;
      padding: 10px 5px 0px;
    }
  }
  .mf_question_sidebar--content {
    padding: 5px;
    .mf_tag_list {
      margin: 0px 10px;
      li {
        margin: 5px 0;
        padding: 7px 20px;
        cursor: pointer;
        border-radius: 20px;
        transition: all ease-in-out 0.4s;
        &:hover {
          background-color: $blue-light-color;
          @include shadow-card(0.12);
          a {
            color: $true-white;
          }
        }
        a {
          color: $footer-copy-default-color;
          font-size: 14px;
          font-weight: 500;
          i {
            padding-right: 3px;
          }
        }
      }
    }
  }
  .mf_question_sidebar--footer {
    align-content: center;
    text-align: center;
    padding: 5px;
    a {
      color: $footer-copy-default-color;
      small {
        font-size: 13px;
        font-weight: 400;
      }
      &:hover {
        color: $primary-color;
      }
    }
  }
}

.strip_list {
  .menu_button {
    z-index: 2;
    position: absolute;
    top: 10px;
    right: 15px;
    a {
      color: $menu-bg-color;
    }
    .menu_dropdown {
      position: relative;
      display: none;
      &.show {
        display: block;
      }
      ul {
        border: 1px solid $ul-solid-border;
        border-radius: 0.25rem;
        padding: 5px 0px;
        margin: 0;
        right: -10px;
        background: $true-white;
        position: absolute;
        @include shadow-card(0.2);
        li {
          padding: 0px 15px;
          cursor: pointer;
          &:hover {
            background: $primary-color;
            a {
              color: $true-white;
            }
          }
        }
        &:first-child:after {
          content: '';
        }
        &:last-child {
          float: none;
        }
      }
      .right-menu {
        right: 2px;
        z-index: 2;
      }
    }
  }
  ul.menu {
    li {
      &:last-child {
        a {
          border: none;
          border-radius: 0.25rem;
          cursor: pointer;
          padding: 5px 20px;
          transition: all .3s ease-in-out;
          &:hover {
            background-color: none;
            color: $true-white !important;
          }
          &.like_button {
            z-index: 2;
            background-color: $true-dark;
            background-color: $like-bg;
            color: $menu-bg-color;
            line-height: 1;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            border-radius: 3px;
            -moz-transition: all .5s ease;
            -o-transition: all .5s ease;
            -webkit-transition: all .5s ease;
            -ms-transition: all .5s ease;
            transition: all .5s ease;
            padding: 5px 10px;
            &:hover {
              color: $menu-bg-color !important;
            }
            &:before {
              font-family: ElegantIcons;
              content: "\e030"
            }
            &:hover:before {
              content: "\e089";
              color: $pink-color
            }
            &.liked:before {
              content: "\e089";
              color: $pink-color
            }
          }
        }
      }
    }
  }
}

.mf_select_category {
  position: relative;
  .mf_category_options {
    position: absolute;
    top: 24px;
    display: none;
    background: $true-white;
    padding: 10px 10px;
    border-radius: 0.3rem;
    @include shadow-card(0.22);
    &.show {
      display: block;
    }
    ul {
      padding: 5px 5px;
      margin: 0;
      -moz-column-count: 5;
      -moz-column-gap: 20px;
      -webkit-column-count: 4;
      -webkit-column-gap: 20px;
      column-count: 5;
      column-gap: 10px;
      li {
        top: 0px;
        margin: 4px 2.5px;
        width: 100px;
        padding: 3px 2.5px;
        border-radius: 5px;
        background: $gray-light;
        cursor: pointer;
        a {
          color: $default-a-color;
          &:hover {
            color: $primary-color;
          }
        }
      }
    }
    .right {
      left: 40px;
      right: auto;
    }
    .mf_category_list {
      display: inline-flex;
      ul {
        .selected {
          &::after {
            content: '✓'
          }
        }
      }
    }
  }
}
