/*
 *= require all_icons_min
 *= require BsMultiSelect
 *= require font-awesome.css.erb
*/
@import 'bootstrap';
@import 'variables';
@import 'mixins/shadow';
@import 'animations';
@import 'main';
@import 'components/menu';
@import 'components/header';
@import 'components/home';
@import 'components/question';
@import 'components/user_profile';
@import 'components/comment';
@import 'components/disease';
@import 'components/medicine';
@import 'components/medicine_type';
