$true-white: #ffffff;
$true-dark: #000;
$dark-opacity: rgba(0, 0, 0, .3);
$dark-opacity-35: rgba(0, 0, 0, .35);
$primary-color: #3f4079;
$gray-light: #f8f8f8;
$gray-dark: #ddd;
$primary-dark-color: #3e3f77;
$default-background-color: $true-white;
$main-bg-color: #f5f8fa;
$home-bg-color: $primary-color;
$footer-copy-default-color: #999;
$default-a-hover: #333;
$loading-border:  rgba(0, 0, 0, .2);
$loading-default-color: $primary-color;
$default-text-color: #555;
$hr-color: #ededed;
$default-p-color: #777;
$pink-color: #e74e84;
$pink-input-color: #e53c78;
$pink-input-dark-color: rgba(231, 78, 132, .2);
$violent-color: $primary-color;
$green-gray-color: #74d1c6;
$white-gray: #999;
$content-background: #363768;
$content-background-rgba: rgba(63, 64, 121, 0);
$content-background-rgba-opacity: rgba(63, 64, 121, .9);
$hero-home-content-shadow: rgba(0, 0, 0, .25);
$sea-green: #6d7b84;
$sea-green-dark: #e1e8ed;
$fb-color: #3B5998;
$g-color: #DC4E41;
$linkedin-color: #0077B5;
$footer-li-hover: #3456ee;
