<% unless doctor.doctor_activated? %>
  <%= form_for :activate_doctors, url: admin_activate_doctors_path,
    remote: true do |f| %>
    <div><%= hidden_field_tag :doctor_id, doctor.id %></div>
    <%= f.submit t("admin.doctors.activate"), class: "btn btn-success" %>
  <% end %>
<% end %>
